/* COMMON */
html {
  scroll-behavior: smooth;
}
body {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
a:visited {
  color: #000;
}

/* NAV */
.nav-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #000;
  z-index: 4;
}
.nav-content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  margin-right: 70px;
}
.nav-content ul {
  display: block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-right: 80px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-content ul li {
  display: inline-block;
  margin-right: 30px;
}
.nav .btn {
  border: 1px solid #000;
  display: inline-block;
  padding: 10px;
  margin: 0;
  width: auto;
  height: auto;
}
.nav .btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* HEADER */
.header {
  height: 768px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 2;
}
.header-video video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.content {
  position: relative;
  padding: 0 25px;
  margin: 240px auto;
  max-width: 1150px;
  min-width: 320px;
  z-index: 3;
  color: #fff;
  font-weight: 900;
  font-size: 52px;
}
.bg-black {
  position: relative;
  background-color: #000;
  color: #fff;
}
.btn {
  display: inline;
  padding: 18px 30px;
  margin: 0px;
  border-radius: 6px;
  border: 1px solid #fff;
  background-color: #fff;
  font-size: 15px;
  font-weight: 900;
  width: 186px;
  height: 40px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.btn a {
  text-decoration: none;
  color: #000;
}

/* SECTION */
.section {
  height: 768px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.desc {
  font-size: 38px;
}

/* SECTION BIRTH */
.birth {
  background-image: url(./src/hardware.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SECTION UNIV */
.univ {
  background-image: url(./src/univ.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SECTION TOGETHER */
.together {
  background-image: url(./src/together.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SECTION EMAIL */
.email .content {
  color: #000;
}
.address {
  font-size: 28px;
}
